<div id="tabs">
  <div id="current-friends">
    <h2 class="task_hdr">My Friends</h2>
    <p class="task_btn"><%= link_to image_tag('btn_add_friend.gif', :alt => '+ Add Friend'), new_connection_path %></p>
    <div class="clear"></div>
    <table class="friends-list">
      <%- @current_friends.each do |friend| -%>
        <tr>
          <td class="gravatar"><%= image_tag friend.gravatar_url %></td>
          <td><%= friend.name %></td>
        </tr>
      <%- end -%>
    </table>
  </div>
  
  <%- if !@pending_friends.blank? -%>
    <div id="sent-requests" style="display:none;">
      <h2 class="task_hdr">Sent Friend Requests</h2>
      <p class="task_btn"><%= link_to image_tag('btn_add_friend.gif', :alt => '+ Add Friend'), new_connection_path %></p>
      <div class="clear"></div>
      <table class="friends-list">
        <%= render :partial => 'connection', :collection => @pending_friends %>
      </table>
    </div>
  <%- end -%>
  
  <%- if !@friend_requests.blank? -%>
    <div id="received-requests" style="display:none;">
      <h2>Recieved Friend Requests</h2>
      <table class="friends-list">
        <%= render :partial => 'connection', :collection => @friend_requests %>
      </table>
    </div>
  <%- end -%>
</div>