<% form_for @task do |f| %>
	<%= f.error_messages %>
	<% if @task.creator == current_user %>
    <%= render :partial => 'basic_task',  :locals => { :f => f } %>
  <% end %>
    
	<fieldset>
		<legend>Pass the Task</legend>
		<ol>    
			<li>
			  <%= label_tag 'assign_to' %>
			  <%= radio_button_tag 'assign_to', 'friend' %> Existing User  --OR--
			  <%= radio_button_tag 'assign_to', 'email' %> Email Address
			<li>
			<%= render :partial => "assign_task_to_user", :locals => { :f => f } %>
		</ol>
	</fieldset>
	
	<div class="buttons">
		<%= submit_tag 'Update Task' %>
		<%= link_to 'cancel', tasks_path %>
	</div>
<% end %>