<% form_for @task do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Edit Task</legend>
		<ol>
			<li>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</li>
			<li>
				<%= f.label :description %>
				<%= f.text_area :description %>
			</li>
			<li>
				<%= f.label :action_by %>
				<%= f.text_field :action_by %>
			</li>
			<li>
				<%= f.label :due_date %>
				<%= f.text_field :due_date %>
			</li>
			<li>
			  <%= label_tag 'assign_to' %>
			  <%= radio_button_tag 'assign_to', 'friend' %> Existing User  --OR--
			  <%= radio_button_tag 'assign_to', 'email' %> Email Address
			<li>
			<li id="assign_friend">
				<%= f.label :assignments %>
				<%= select_tag 'task[new_assignee][email]', "<option value=''></option>" + options_from_collection_for_select(User.all, 'email', 'name') %>
			</li>
			
			<li id="assign_email">
				<%= label_tag 'email_address' %>
				<%= text_field_tag 'task[new_assignee][email]' %>
			</li>
			<li id="assign_name">
				<%= label_tag 'name' %>
				<%= text_field_tag 'task[new_assignee][name]' %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag 'Update Task' %>
	</div>
<% end %>