<% if current_user == @task.creator %>
  <% form_for @task do |f| %>
  	<%= f.error_messages %>
	
  	<fieldset>
  		<legend>Edit Task</legend>
  		<ol>
  			<li>
  				<%= f.label :title %>
  				<%= f.text_field :title %>
  			</li>
  			<li>
  				<%= f.label :description %>
  				<%= f.text_area :description %>
  			</li>
  			<li>
  				<%= f.label :action_by, 'Action by Date' %>
  				<%= f.text_field :action_by %>
  			</li>
  			<li>
  				<%= f.label :due_date %>
  				<%= f.text_field :due_date %>
  			</li>
      </ol>
    </fieldset>

  	<div class="buttons">
  		<%= submit_tag 'Update Task' %>
  		<%= link_to 'cancel', tasks_path %>
  	</div>
  <% end %>
<% else %>
 you do not have permission to edit this task
<% end %>