<% form_for @task do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Edit Task</legend>
		<ol>
			<li>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</li>
			<li>
				<%= f.label :description %>
				<%= f.text_area :description %>
			</li>
			<li>
				<%= f.label :action_by, 'Action by Date' %>
				<%= f.text_field :action_by %>
			</li>
			<li>
				<%= f.label :due_date %>
				<%= f.text_field :due_date %>
			</li>
			
			<li>
			  <%= label_tag 'assign_to' %>
			  <%= radio_button_tag 'assign_to', 'friend' %> Existing User  --OR--
			  <%= radio_button_tag 'assign_to', 'email' %> Email Address
			<li>
			<% f.fields_for :assignments do |assignment_form| %>
			  <li>
			    <label>Assign To:</label>
			    <%= assignment_form.select :assignee_id, current_user.friends.collect { |u| [u.email, u.id] } %>
			  </li>
			  
			  <li>
  				<%#= f.label :assignments %>
  				<%#= select_tag 'task[new_assignee][email]', "<option value=''></option>" + options_from_collection_for_select(User.all, 'email', 'name') %>
  			</li>

  			<li>
  				<%= label_tag 'email_address' %>
  				<%= text_field_tag 'task[new_assignee][email]' %>
  			</li>
  			
  			<li>
  				<%= label_tag 'name' %>
  				<%= text_field_tag 'task[new_assignee][name]' %>
  			</li>
			  
			  <%= f.hidden_field :assigner_id, :value => current_user.id %>
			<% end %>
			  
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag 'Update Task' %>
		<%= link_to 'cancel', tasks_path %>
	</div>
<% end %>