<div id="tabs"> 
  <div id="assigned-tasks">
    <h2 class="task_hdr">Tasks I Am Responsible For</h2>
    <p class="task_btn"><%= link_to image_tag('btn_add_task.gif', :alt => '+ Add New Task'), new_task_path %></p>
    <div class="clear"></div>
    <table id="tasks-list">
      <tr>
        <th>Task</th>
        <th>Assigned By</th>
      </tr>
      <%= render :partial => 'assigned_task', :collection => @assigned_tasks %>
    </table>
  </div>
  
  <div id="tasks-assigned" style="display:none;">
    <h2 class="task_hdr">Tasks I Am Waiting On</h2>
    <p class="task_btn"><%= link_to image_tag('btn_add_task.gif', :alt => '+ Add New Task'), new_task_path %></p>
    <div class="clear"></div>
    <table id="tasks-list">
      <tr>
        <th>Task</th>
        <th>Currently Responsible</th>
      </tr>
      <%= render :partial => 'tasks_assigned', :collection => @tasks_assigned %>
    </table>
  </div>
  
  <div id="tasks-completed" style="display:none;">
    <h2 class="task_hdr">Completed Tasks</h2>
    <p class="task_btn"><%= link_to image_tag('btn_add_task.gif', :alt => '+ Add New Task'), new_task_path %></p>
    <div class="clear"></div>
    <table id="tasks-list">
      <tr>
        <th>Title</th>
        <th>Date Completed</th>
      </tr>
      <%= render :partial => 'completed_tasks', :collection => @tasks_completed %>
    </table>
  </div>
</div>
