<% form_for @task do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>New Task</legend>
		<ol>
			<li>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</li>
			<li>
				<%= f.label :description %>
				<%= f.text_area :description %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag 'Create Task' %>
	</div>
<% end %>