<h2>
  Task: <%= @task.title %>
  <% if @task.pending_user == current_user %>
    <span><%= render :partial => "task_action", :locals => { :task => @task, :assignment => current_user.last_assignment_for_task(@task), :action => "accept_assignment" } %></span>
    <span><%= render :partial => "task_action", :locals => { :task => @task, :assignment => current_user.last_assignment_for_task(@task), :action => "reject_assignment" } %></span>
  <% end %>
  <% if @task.current_owner == current_user %>
    <span><%= render :partial => "task_action", :locals => { :task => @task, :assignment => current_user.last_assignment_for_task(@task), :action => "complete_assignment" } %></span>
    <% if current_user != @task.creator %>
      <span><%= link_to('pass', edit_task_path(@task)) %></span>
    <% end %>
  <% end %>
</h2>
<% if @task.current_owner == current_user %>
  <h3>Assigned By: <%= @task.assignments.find_by_assignee_id(current_user.id).assigner.name %></h3>
<% else %>
  <h3>Assigned To: <%= @task.current_owner.name %></h3>
<% end %>

<p><%= @task.description %></p> 

<div class="grid_7">
  <table class="dash_table">
    <tr>
      <th colspan="2">Comments</th>
      <% @task.comments.each do |comment| %>
        <tr>
          <td class="gravatar"><%= image_tag comment.user.gravatar_url(:size => '50', :secure => true) %></td>
          <td><%= comment.message %></td>
        </tr>
      <% end %>
    </tr>
  </table>
  
  <div id="add-comment-form">
    <fieldset>
      <legend>Add a Comment</legend>
      <% form_for @comment, :url => task_comments_path(:task_id => @task) do |f| %>
        <ol>
          <li>
            <%= f.label :message %>
            <%= f.text_area :message %>
          </li>
        </ol>
        <div class="buttons">
      		<%= submit_tag 'Add Comment' %>
      	</div>
      <% end %>
    </fieldset>
  </div><!-- comment_form -->
</div>

<div class="grid_7 clearfix">
  <table class="dash_table">
    <tr>
      <th>Activity History</th>
    </tr>
    <%- @recent_activities.each do |activity| -%>
      <tr>
        <td><%= activity.description %></td>
      </tr>
    <%- end -%>
  </table>
</div>

<div class="clear"></div>