<h2>
  Task: <%= @task.title %>
  <% if current_user == @task.creator %>
    <span><%= link_to('edit', edit_task_path(@task)) %></span>
  <% end %>
  <% if @task.pending_user == current_user %>
    <span><%= render :partial => "task_action", :locals => { :task => @task, :assignment => current_user.last_assignment_for_task(@task), :action => "accept_assignment" } %></span>
    <span><%= render :partial => "task_action", :locals => { :task => @task, :assignment => current_user.last_assignment_for_task(@task), :action => "reject_assignment" } %></span>
  <% end %>
  <% if @task.current_owner == current_user %>
    <span><%= render :partial => "task_action", :locals => { :task => @task, :assignment => current_user.last_assignment_for_task(@task), :action => "complete_assignment" } %></span>
    <span><%= render :partial => "pass_task", :locals => { :task => @task} %></span>
  <% end %>
</h2>
<% if @task.assignments.find_by_assignee_id(current_user.id).status == "accepted" %>
  Assigned By: <%= @task.assignments.find_by_assignee_id(current_user.id).assigner.name %>
<% else %>
  Assigned To: <%= @task.current_owner.name %>
<% end %>

<p><%= @task.description %></p> 

<div>
  <h2>Comments</h2>
  <% @task.comments.each do |comment| %>
    <div>
      <%= image_tag comment.user.gravatar_url(:size => '80', :secure => true) %>
      <%= comment.message %>
    </div>

  <% end %>
  <div> 
    <h2>Add a new comment:</h2>
    <% form_for @comment, :url => task_comments_path(:task_id => @task) do |f| %>
      <%= f.label :message %>
      <%= f.text_area :message %>
    <div class="buttons">
  		<%= submit_tag 'Add Comment' %>
  	</div>
  	<% end %>
    
  </div>
</div>