<%= title('Dashboard', :h2) %>

<table>
  <tr>
    <th>Activity Log</th>
  </tr>
  <tr>
    <%- @recent_activities.each do |activity| -%>
      <td><%= activity.description %></td>
    <%- end -%>
  </tr>
</table>

<table>
  <tr>
    <th>Friends</th>
  </tr>
  <tr>
    <%- @friends.each do |friend| -%>
      <td><%= image_tag friend.gravatar_url(:size => '20', :secure => true) %><%= friend.name %></td>
    <%- end -%>
  </tr>
</table>

<table>
  <tr>
    <th>Due Tasks</th>
  </tr>
  <tr>
    <%- @due_tasks.each do |task| -%>
      <td><%= link_to(task.title, task) %></td>
    <%- end -%>
  </tr>
</table>

<table>
  <tr>
    <th>Waiting On</th>
  </tr>
  <tr>
    <%- @expected_tasks.each do |task| -%>
      <td><%= link_to(task.title, task) %></td>
    <%- end -%>
  </tr>
</table>

<div id="create-task-form">
  <% form_for @new_task do |f| %>
  	<%= f.error_messages %>
  	<fieldset>
  		<legend>New Task</legend>
  		<ol>
  			<li>
  				<%= f.label :title %>
  				<%= f.text_field :title %>
  			</li>
  			<li>
  				<%= f.label :description %>
  				<%= f.text_area :description %>
  			</li>
  		</ol>
  	</fieldset>
  	<div class="buttons">
  		<%= submit_tag 'Create Task' %>
  	</div>
  <% end %>
</div>